.conteudo-cadastro div,
.conteudo #identificadores{
  font-size: 17px;
  padding: 0px 0px 15px 40px;

  text-align: left;
}
.conteudo #items{
  font-size: 15px;
}
.conteudo {
  display: inline-block;
  background-color: transparent;
  width: 100%;
}
.conteudo-esquerda{
  float: left;
  display: inline-block;
  background-color: #248f24;
  width: 30%;
  padding: 10px 0px;
  border-radius: 15px 50px 30px 5px;
  box-shadow: 5px 5px 10px black;
  margin-top: 50px;
  text-align: center;
}
.conteudo-esquerda p {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size:2.5em;
  line-height:2em;
  font-family: 'Catamaran', sans-serif;
  color: white;
}


.conteudo form {
  width: 100%;
  clear: both;
  display: block;
  float: right;
  color: white;
}
.conteudo #alinhado div input {
    size: 100%;
    clear: both;
}

#alinhado {
  width: 100%;
  overflow: hidden;
}
#nome-primeiro {
  margin-right: 60px;
}
.conteudo form strong{
  display: inline-block;
  margin-bottom: 8px;
  width: 100%;
  font-family: Arial;
  margin: 5px 40px;
  font-size: 20px;
  color: white;
  line-height: 1em;
  text-align: justify;
}

.conteudo-cadastro{
  display: inline-block;
  background-color: #330033;
  width: 40%;
  margin-top: 25px;
  margin-left: -100px;
  padding-top: 25px;
  padding-bottom: 10px;
  border-radius: 50px 5px 15px 30px;
  box-shadow: 5px 5px 10px black;
}
.conteudo input[name='fnome'],
.conteudo input[name='lname']{
  width:30%;
}


.conteudo input[name='email'],
.conteudo input[name='unome'],
.conteudo input[name='senha']{
  width:70%;
}

@media only screen and (max-device-width: 700px),
screen and (max-width: 700px){
  .conteudo-esquerda{
    display: none;
  }
  .conteudo-cadastro {
      float: none;
      margin-top: 20px;
      border-radius: 20px;
      width: 80%;
  }
}
